extends html
snippet log "description"
console.log($0)
endsnippet

snippet '<%' "description" rA
<%
	$0 
%>
endsnippet
	
snippet '<%=' "description" rA
<%= %>
endsnippet

snippet '<%-' "description" rA
<%- %>
endsnippet
