snippet print "fmt.Println()"
fmt.Println('$0')
endsnippet

snippet "^p" "package" rbA
package ${1:main}

$0
endsnippet

snippet "^m" "func main()" rbA
func main() {
	$0
}
endsnippet

snippet "^f" "func" rbA
func ${1:funcname}() {
	$0
}
endsnippet

snippet "^i" "func" rbA
import (
	$0
)
endsnippet

snippet httpHand "http server handler"
func ${1:funcname}(w. http.ResponseWriter, r *http.Request){
	$0
}
endsnippet
	
