snippet log "description"
console.log($0)
endsnippet

snippet aget "app.get()"
app.get('$0', async (req, res) => {

	return 

})
endsnippet

snippet apost "app.post()"
app.post('$0', async (req, res) => {

	return 

})
endsnippet
