snippet vue "description" b
<template>

</template>

<script>

export default {

	name: "`!p snip.rv = snip.basename`",
	data() {
		return {

		}
	}

}

</script>
endsnippet	
	
snippet t "description"
<${1:div}></$1>
endsnippet	

snippet div "description"
<div></div>
endsnippet
