extends html
extends js
snippet "^vue" "init vue template" rbA
<template>

</template>

<script>

export default {

	name: "`!p snip.rv = snip.basename`",
	data() {
		return {

		}
	}

}

</script>
endsnippet	

snippet 'func' "func declaration" rbA
${1:funcname}(){
	$0
},
endsnippet

